<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>用户登录</title>
<link rel="stylesheet" type="text/css" href="__STATIC__/bootstrap/css/bootstrap.min.css">
<style type="text/css">
body{
	display:table;
	width:100%;
	height:100%;
	background-color:black;
}
</style>
</head>
<body>

<script type="text/javascript" src="__STATIC__/js/jquery-3.0.0.min.js"></script>
<script type="text/javascript" src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript">
window.onload=function(){
	document.onkeydown=function(e){
		var ev = document.all ? window.event : e;
		if(ev.keyCode==13) {
		 	sub();
     	}
	}
}
function sub(){
	var username=$("input[name='username']").val().replace(/\s/g,'');
	var preg =/^[\w|_]{4,6}/;
	if ( !preg.test(username) ) {
		layer.msg('请填写正确的用户名');
		return;
	}
	var pwd=$("input[name='pwd']").val().replace(/\s/g,'');
	var preg_pwd=/^[\w]{4,10}/;
	if ( !preg_pwd.test(pwd) ) {
		layer.msg('请填写正确的密码');
		return;
	}
	var captcha=$("input[name='captcha']").val().replace(/\s/g,'');
	var preg_cap=/^[\w]{5}/;
	if ( !preg_cap.test(captcha) ) {
		layer.msg('请填写验证码');
		return;
	}
	$.ajax({
		url:"{:url('sub')}",
		type:'post',
		data:'username='+username+'&pwd='+pwd+'&captcha='+captcha,
		error:function(){},
		success:function(res){
			if ( res.result =="SUCCESS" ) {
				layer.msg(res.msg);
				window.location=res.href;
			}else{
				layer.msg(res.msg);
			}
		}
	})
}
</script>
</body>
</html>