{include file="public/edit"}
<script type="text/javascript" src="__STATIC__/jQuery-File-Upload/js/vendor/jquery.ui.widget.js"></script>
<script type="text/javascript" src="__STATIC__/jQuery-File-Upload/js/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="__STATIC__/jQuery-File-Upload/js/jquery.fileupload.js"></script>
<div class="detail">
    <form id="edit_form" data-action='/staff/save' >
        <input type="hidden" value="{$action}" name="action">
        <input type="hidden" value="" name="id">
    	<div class="detail-row">
    		<div class="row-label">
    			<span class="must">登录名:</span>
    		</div>
    		<div class="row-input">
    			<input type="text" data-allow="login" name="login_name" placeholder="请输入用户登录名" maxlength="12">
    		</div>
    	</div>
        <div class="detail-row">
            <div class="row-label">
                <span>初始密码:</span>
            </div>
            <div class="row-input">
                <span class="notice">初始密码为123456</span>
            </div>
        </div>
        <div class="detail-row">
            <div class="row-label">
                <span>姓名:</span>
            </div>
            <div class="row-input">
                <input type="text" data-allow="ch" name="true_name" placeholder="请输入用户姓名" maxlength="12">
            </div>
        </div>
        <div class="detail-row">
            <div class="row-label">
                <span>用户编号:</span>
            </div>
            <div class="row-input">
                <input type="text" data-allow="number" name="staff_num" placeholder="请输入用户编号" maxlength="5">
            </div>
        </div>
        <div class="detail-row">
            <div class="row-label">
                <span>用户性别:</span>
            </div>
            <div class="row-input">
                <select name="sex">
                    <option value="-1">请选择用户性别</option>
                    <option value="1">男</option>
                    <option value="2">女</option>
                </select>
            </div>
        </div>
        <div class="detail-row">
            <div class="row-label">
                <span>用户头像:</span>
            </div>
            <div class="row-input">
                <a href="javascript:;" class="file">选择文件
                    <input type="file" name="files" id="fileInput" multple="true" >
                </a>
            </div>
        </div>
        <div class="detail-row">
            <div class="row-label">
                <span>头像预览:</span>
            </div>
            <div class="row-input">
                <div class="img-box">
                    {if condition="$action neq 'add' AND !empty($data['header_img']) "}
                    <img src="{$data['header_img']}">
                    {/if}
                </div>
                <input type="hidden" name="header_img">
            </div>
        </div>
    </form>
</div>
<div class="btn_box">
	<button type="button" class="btn" data-btn="submit">保存</button>
</div>
<script type="text/javascript">
$(function(){
    $('#fileInput').fileupload({
        url:'/staff/upload',
        dataType: 'json',
        autoUpload:true,
        done: function (e, data) {
            let ret=data.result;
            if( ret.result=='SUCCESS' ){
                parent.$.suc(ret.msg);
                $("input[name='header_img']").val( ret.path );
                var html="<img src='"+ret.path+"'>";
                $(".img-box").html(html);
            }
            else{
                parent.$.warn( ret.msg );
            }
        }
    });    
})
const editObj = new edit();
{if condition="$action neq 'add' "}
    editObj.setForm($("#edit_form"),<?=json_encode($data)?>);
{/if}
editObj.saveurl='/staff/edit/{id}/edit';
editObj.setFormStatus('{$action}');
</script>
</body>
</html>