<link rel="stylesheet" type="text/css" href="__STATIC__/bootstrap/css/bootstrap.min.css">
<style type="text/css">
.head{
	height:50px;
	box-sizing:border-box;
	border-bottom:1px dashed #e1e1e1;
}	
.btn-right{
	float:right;
	margin-top:5px;
	margin-right:20px;
}
.search-box{
	height:50px;
}
.title{
	line-height:50px;
	margin-left:20px;
	font-size:1.15em;
	font-weight:600;
}
.table{
	text-align:center;
}
th{
	text-align:center;
	font-weight:normal;
}
.form-inline{
	margin-top:8px;
	margin-left:15px;
}
.table>thead>tr>th,.table>tbody>tr>td{
	padding:5px;
}
div.page_box{
    position: relative;
    margin:10px 0px;
    height:30px;
    font-size:14px;
    color:#333333;
}
div.page_box .data_show{
    float:left;
    height:100%;
    line-height: 30px;
}
div.page_box .data_show span{
    padding: 0px 4px;
    color:#0b78e3;
}
div.page_box .page_show,div.page_box .every_show{
    float:right;
    height:100%;
    line-height: 30px;
}
div.page_box .every_show select{
    height:30px;
    width:60px;
    margin:0px 4px;
}
div.page_box .page_show{
    box-sizing: border-box;
    border-width: 1px 0px 1px 1px;
    border-style: solid;
    border-color:#d6d6d6;
}
div.page_box .page_show button{
    height:28px;
    min-width: 29px;
    border:none;
    outline:none;
    cursor:pointer;
    background-color: #FFF;
    border-right:1px solid #d6d6d6;
}
div.page_box .page_show .active{
    color:#0b78e3 !important;
}
</style>
<script src="__STATIC__/js/jquery-3.0.0.min.js" type="text/javascript"></script> 
<script type="text/javascript" src="__STATIC__/js/template.min.js"></script> 
<script type="text/javascript" src="__STATIC__/js/adminGetData.js"></script>
<script type="text/javascript" src="__STATIC__/js/managerPage.js"></script>
<script type="text/javascript">
var dataObj=null;
var pageObj=null; 
$(function(){	
	dataObj=new adminGetData({
	    box:$('#data_box'),
	    url:'/staff/pageData',
	    tpl:'data_tpl',
	});	
	pageObj=new managerPage($('.page_box'));
	dataObj.dataBeforeHandle=dataBefore;
	dataObj.setPage(pageObj);
	dataObj.setSearch($('#search_form'),true);
    dataObj.get_data();
})
function dataBefore(v){
    return v;
}
</script>
<div class="head container-fluid">
	<div class="row">
		<span class="title">管理员管理</span>
		<button type="button"  class="btn btn-success btn-right" onclick="parent.adminObj.add('/staff/add','添加管理员')" >添加</button>
	</div>	
</div>
<div class="content container-fluid">
	<div class="search-box">
		<div class="row">
			<form class="form-inline" id="search_form">
			  	<div class="form-group">
			    	<label for="exampleInputName2">登录名/员工编号</label>
			    	<input type="text" class="form-control" id="exampleInputName2" placeholder="请输入登录名/员工编号" name="like:login_name">
			 	</div>
			  	<button type="button" class="btn btn-primary">search</button>
			</form>
		</div>
	</div>
	<div class="data-show">
		<table class="table table-bordered">
		   <thead>
		      	<tr class="active">
		         	<th>登录名</th>
		         	<th>员工编号</th>
		        	<th>姓名</th>
		        	<th>性别</th>
		        	<th>操作</th>
		      	</tr>
		   </thead>
		   <tbody id="data_box">
		      	
		   </tbody>
		</table>
	</div>
	<div class="page_box container-fluid"></div>	
</div>
<script type="text/html" id="data_tpl">
<tr>
    <td><%= login_name %></td>
    <td><%= staff_num %></td>
    <td><%= true_name %></td>
    <td><% if(sex ==1 ){ %>男<%}else{%>女<%}%></td>
    <td>
    	<a href="javascript:parent.adminObj.edit('/staff/edit/<%=id%>/browse','查看');">查看</a>
    	<a href="javascript:parent.adminObj.edit('/staff/edit/<%=id%>/edit','编辑管理员');">编辑</a>
    	<a href="javascript:parent.adminObj.deleteData('/staff/deleteStaff/<%=id%>');">删除</a>
    </td>
</tr>	
</script>