<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->

<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->

<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<!-- BEGIN HEAD -->

<head>

	<meta charset="utf-8" />

	<title>网站后台登录</title>

	<meta content="width=device-width, initial-scale=1.0" name="viewport" />

	<meta content="" name="description" />

	<meta content="" name="author" />

	<!-- BEGIN GLOBAL MANDATORY STYLES -->

	<link href="__STATIC__/media/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

	<link href="__STATIC__/media/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>

	<link href="__STATIC__/media/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>

	<link href="__STATIC__/media/css/style-metro.css" rel="stylesheet" type="text/css"/>

	<link href="__STATIC__/media/css/style.css" rel="stylesheet" type="text/css"/>

	<link href="__STATIC__/media/css/style-responsive.css" rel="stylesheet" type="text/css"/>

	<link href="__STATIC__/media/css/default.css" rel="stylesheet" type="text/css" id="style_color"/>

	<link href="__STATIC__/media/css/uniform.default.css" rel="stylesheet" type="text/css"/>

	<!-- END GLOBAL MANDATORY STYLES -->

	<!-- BEGIN PAGE LEVEL STYLES -->

	<link href="__STATIC__/media/css/login-soft.css" rel="stylesheet" type="text/css"/>

	<!-- END PAGE LEVEL STYLES -->

	<link rel="shortcut icon" href="__STATIC__/media/image/favicon.ico" />

</head>

<!-- END HEAD -->

<!-- BEGIN BODY -->

<body class="login">

	<!-- BEGIN LOGO -->

	<div class="logo">

		<img src="__STATIC__/media/image/logo-big.png" alt="" /> 

	</div>

	<!-- END LOGO -->

	<!-- BEGIN LOGIN -->

	<div class="content">

		<!-- BEGIN LOGIN FORM -->

		<form class="form-vertical login-form">

			<h3 class="form-title">Login to your account</h3>

			<div class="alert alert-error hide">

				<button class="close" data-dismiss="alert"></button>

				<span>Enter any username and password.</span>

			</div>

			<div class="control-group">

				<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->

				<label class="control-label visible-ie8 visible-ie9">Username</label>

				<div class="controls">

					<div class="input-icon left">

						<i class="icon-user"></i>

						<input class="m-wrap placeholder-no-fix" type="text" placeholder="Username" name="username"/>

					</div>

				</div>

			</div>

			<div class="control-group">

				<label class="control-label visible-ie8 visible-ie9">Password</label>

				<div class="controls">

					<div class="input-icon left">

						<i class="icon-lock"></i>

						<input class="m-wrap placeholder-no-fix" type="password" placeholder="Password" name="password"/>

					</div>

				</div>

			</div>

			<div class="form-actions">

				<label class="checkbox">

				<input type="checkbox" name="remember" value="1" style="margin-left:0px;" />&nbsp&nbsp Remember me

				</label>

				<button type="button" class="btn blue pull-right">

				Login <i class="m-icon-swapright m-icon-white"></i>

				</button>            

			</div>

		</form>
	</div>

	<!-- END LOGIN -->

	<!-- BEGIN COPYRIGHT -->

	<div class="copyright">

		2013 &copy; Metronic - Admin Dashboard Template.

	</div>

	<!-- END COPYRIGHT -->

	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->

	<!-- BEGIN CORE PLUGINS -->

	<script src="__STATIC__/media/js/jquery-1.10.1.min.js" type="text/javascript"></script>

	<script src="__STATIC__/media/js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>

	<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->

	<script src="__STATIC__/media/js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>      

	<script src="__STATIC__/media/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="__STATIC__/js/jq_notice.js" type="text/javascript"></script>
	<!--[if lt IE 9]>

	<script src="__STATIC__/media/js/excanvas.min.js"></script>

	<script src="__STATIC__/media/js/respond.min.js"></script>  

	<![endif]-->   
	<script type="text/javascript">
		$(function(){
			$(".btn").click(sub);
			$("input[name='password']").keyup(function(e){
				if (e.which == 13) {
					sub();
				}
			})
		})
		function sub(){
			var username=$("input[name='username']").val().replace(/\s/g,'');
			var preg=/^[\w|_]{4,10}$/;
			if ( !preg.test(username) ) {
				$.warn("请输入正确的登录名");
				return;
			}
			var pwd=$("input[name='password']").val().replace(/\s/g,'');
			if ( !preg.test(pwd) ) {
				$.warn("请输入正确的密码");
				return;
			}
			var data=$(".login-form").serialize();
			$.ajax({
				url:'/login/sub',
				data:data,
				type:'post',
				error:function(){
					$.warn("服务器忙，请重试");
				},
				success:function(res){
					if ( res.result == 'SUCCESS') {
						$.suc(res.msg,function(){
							window.location=res.data;
						});
					}else{
						$.warn(res.msg);
					}
				}
			})		
		}
	</script>
</body>

<!-- END BODY -->

</html>